<div class="splide tag-carousel">
  <div class="splide__track">

    <ul class="splide__list post-slides">
      {{#get "posts" filter="featured:true" include="tags" limit="all"}}
        {{#foreach posts}}
          <li class="splide__slide tag-slide">
            <a href="{{url}}">
              <article class="post-card has-image">
                {{#if feature_image}}
                  <span class="post-card-image-link">
                    <picture>
                      <source
                        type="image/webp"
                        srcset="{{img_url feature_image size='m' format='webp'}}"
                      >
                      <img
                        class="post-card-image"
                        src="{{img_url feature_image size='m'}}"
                        alt="{{title}}"
                        loading="lazy"
                      />
                    </picture>
                  </span>
                {{/if}}
                <div class="post-card-content">
                  <h2 class="post-card-title">{{title}}</h2>
                  {{#if custom_excerpt}}
                    <div class="post-card-excerpt">{{custom_excerpt}}</div>
                  {{/if}}
                </div>
              </article>
            </a>
          </li>
        {{/foreach}}
      {{/get}}
    </ul>

    <ul class="splide__list tag-slides">
      {{#get "tags" limit="all" filter='slug:[adhders,education,employment,family,health,justice]'}}
        {{#foreach tags}}
          {{#if feature_image}}
            <li
              class="splide__slide tag-slide"
              data-slug="{{slug}}"
            >
              <a href="{{url}}">
                <article class="post-card tag-card has-image">
                  <span class="post-card-image-link">
                    <picture>
                      <source
                        type="image/webp"
                        srcset="{{img_url feature_image size='m' format='webp'}}"
                      >
                      <img
                        class="post-card-image"
                        src="{{img_url feature_image size='m'}}"
                        alt="{{name}}"
                        loading="lazy"
                      />
                    </picture>
                  </span>
                  <div class="post-card-content">
                    <h2 class="post-card-title">{{name}}</h2>
                    {{#if description}}
                      <div class="post-card-excerpt">{{description}}</div>
                    {{/if}}
                  </div>
                </article>
              </a>
            </li>
          {{/if}}
        {{/foreach}}
      {{/get}}
    </ul>

  </div>
</div>
